<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your claim had been created </h1>
    <p>insurance_id:{{insurance_id}}</p>
    <p>type_of_accidence:{{type_of_accidence}}</p>
    <p>date_of_accidence:{{date_of_accidence}}</p>
    <p>accidence_location:{{accidence_location}}</p>
    <p>car_url:{{car_url}}</p>
    <p>invoice_url:{{invoice_url}}</p>
</body>
</html>