{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InsurTech</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href=" {% static 'assets/css/form-elements.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css'  %}">
       

 

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- Favicon and touch icons -->
        
        <link rel="shortcut icon" href="{% static 'assets/ico/favicon.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href=" {% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">
        <script src="https://kit.fontawesome.com/bf1fe3d857.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'assets/style.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        
      
       
    </head>

    <body>
        <div class="row">
            
            <div class="col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                <form class="f1" method="post" action="/claimplatform/post_create/"  enctype="multipart/form-data">	
                    {% csrf_token %}

                    <h3>Hi, {{ username }}</h3>
                    <p>Fill in the form to get car insurance claim</p>
            
                    <div class="f1-steps">

                        <div class="f1-progress">
                            <div class="f1-progress-line" data-now-value="9" data-number-of-steps="6" style="width: 10%;"></div>
                        </div>
                    
                        <div class="f1-step active">
                            <div class="f1-step-icon"><i class="fa fa-car"></i></div>
                        </div>

                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fas fa-car-crash"></i></div>
                        </div>
                        
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-calendar"></i></div>
                        </div>

                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-map-marker"></i></div>
                        </div>

                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-camera"></i></div>
                        </div>

                       
                        
                    </div>
                

                    <!--form 1-->
                    
                    <fieldset>
                        <h3 style="text-align:center ;color: black;font-size: 20px;padding: 20px;">Which vehicle had been damaged?</h3>
                        <div class=" container" style="background-color: lightgrey;width: fit-content;height: fit-content;border-radius: 10px;" name="mycontainer">
                            <input type="radio" class="button button1" name="insurance_id" value="{{ vehicle_car_insurance_id }}" >
                            
                            <label for="" >
                                <div><i class="fa fa-car"></i></div>
                                <p> {{ vehicle_model }}</p>
                                <p>{{ vehicle_registration_number  }}</p>
                                <p>Year:{{ vehicle_year  }}</p>
                                <p>Insurance ID:{{ vehicle_car_insurance_id  }}</p>
                            </label>
                        </div>
                        <br>
                        <br>
                        <br>
                    
                        <div class="f1-buttons" style="padding: 40px;">
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>

                    <!--form 2-->
                    <fieldset >
                        <h3 style="text-align:center ;color: black;font-size: 20px;padding: 20px;">What Happened?</h3>
                        <div class="f1-buttons">
                            <div class="serv">
                                <label for="What Happened?">Choose a type of car accidence:</label>
                                <select id="cars" name="cars" class="form-select">
                                    <option value="Damaged Bumper">Damaged Bumper</option>
                                    <option value="Damaged Windshield">Damaged Windshield</option>
                                    <option value="Damaged Door">Damaged Door</option>
                                </select>
                            </div>
                            <br><br>
                        <button type="button" class="btn btn-previous">Previous</button>
                        <button type="button" class="btn btn-next">Next</button>
                    </fieldset>
                    <!--form 3-->
                    <fieldset >
                    
                        <div class="f1-buttons">
                            <h3 style="text-align:center ;color: black;font-size: 20px;padding: 20px;">When is it ?</h3>
                            <main class="container">
                                <!-- <header class="col-sm-12">
                    
                                    
                                </header> -->
                                <section class="col-sm-12">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" name='calendar'>
                                        
                                            <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                        
                                </section>
                                <!-- <footer>
                        
                                </footer> -->
                            </main>
                            <script type="text/javascript">
                                $(function() {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    
                    <!--form 4-->
                    <fieldset>
                        <script src="{% static 'assets/map.js'  %}"></script>
                      
                        <div class="f1-buttons">
                            <h3 style="text-align: center;">Please enter your accident location</h3>
                            <input
                                id="pac-input"
                                class="controls"
                                type="text"
                                placeholder="Search Box"
                                size="50"
                                name="location_data"
                            />
                            <div id="map">       
                                <script async
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMFAHaLXuu8OP10hXNy3YjAS1srW9oL3U&libraries=places&callback=initMap">
                                </script>
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    <!--form 5-->
                    <fieldset>
                        <div>
                            <label for="img">Please upload your car photo</label>
                            <input class="form-control" type="file" name="files" id="files" onchange="readURL(this, 'damage_type');">
                            <input type="hidden" name="url" id="url">
                            <img id="damage_type" class="img-thumbnail" src="#" alt="damage_type" style="display: none;"/><br>
                            <button type="button" class="btn btn-warning btn-sm" onclick="uploadimage()" >Upload</button><br>
                    
                            <hr> 

                            <label for="img">Please upload your invoice</label>
                            <input class="form-control" type="file" name="invoice_files" id="invoice_files"  onchange="readURL(this, 'invoice_img');">
                            <input type="hidden" name="invoice_url" id="invoice_url">
                            <img id="invoice_img" class="img-thumbnail" src="#" alt="invoice_img" style="display: none;"/><br>
                            <button type="button" class="btn btn-warning btn-sm" onclick="upload_invoice_image()" >Upload</button>
                            <input type="hidden" name="username" id="username" value={{username}}>
                        
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="submit" class="btn btn-submit">Submit</button>
                            </div>
                        </div>
            
                    </fieldset>
                
                </form>
            
            </div>
            </div>
        </div>           
                
        <!-- Javascript -->
        <script src="{% static 'assets/js/jquery.backstretch.js'  %}"></script>
        <script src="{% static 'assets/js/scripts.js'  %}"></script>
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
        <script>
            console.log(document.querySelector(".f1").offsetWidth)
            var config  = {
                "apiKey": "AIzaSyBflqWHGwNwcoRtBGKho-4rV83sSDoizgY",
                "authDomain": "insurtech-hackathonn.firebaseapp.com",
                "databaseURL": "https://insurtech-hackathonn-default-rtdb.asia-southeast1.firebasedatabase.app",
                "projectId": "insurtech-hackathonn",
                "storageBucket": "insurtech-hackathonn.appspot.com",
                "messagingSenderId": "876544685456",
                "appId": "1:876544685456:web:17a5d78ec66eb9b6b6af15",
            }
            firebase.initializeApp(config);
        

            function uploadimage(){
                var storage = firebase.storage();
                var file = document.getElementById("files").files[0];
                var storageRef = storage.ref();
                var thisref = storageRef.child(file.name).put(file);
                thisref.on('state_changed',function(snapshot){
                    console.log("file uploaded succesfully");
                },
                function(error) {
                },
                function() {
                    // Upload completed successfully, now we can get the download URL
                    var downloadURL = thisref.snapshot.downloadURL;
                    console.log("got url");
                    document.getElementById("url").value = downloadURL;
                    alert("file uploaded successfully");
                });
            }
            
            function upload_invoice_image(){
                var storage = firebase.storage();
                var invoice_file = document.getElementById("invoice_files").files[0];
                var storageRef = storage.ref();
                var thisref = storageRef.child(invoice_file.name).put(invoice_file);
                thisref.on('state_changed',function(snapshot){
                    console.log("file uploaded succesfully");
                },
                function(error) {
                },
                function() {
                    // Upload completed successfully, now we can get the download URL
                    var downloadURL = thisref.snapshot.downloadURL;
                    console.log("got url");
                    document.getElementById("invoice_url").value = downloadURL;
                    alert("file uploaded successfully");
                });
            }

            function readURL(input, id) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        img_field = document.querySelector(`#${id}`)
                        img_field.style.display = "";
                        img_field.setAttribute('src', e.target.result);
                        
                        form_width = document.querySelector(".f1").offsetWidth;
                        form_height = document.querySelector(".f1").offsetHeight;
                        // img_field.width = form_width*0.7;
                        // img_field.height = form_height*0.7;
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </body>

</html>