{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InsurTech</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href=" {% static 'assets/css/form-elements.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css'  %}">
       

 

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- Favicon and touch icons -->
        
        <link rel="shortcut icon" href="{% static 'assets/ico/favicon.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href=" {% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">
        <script src="https://kit.fontawesome.com/bf1fe3d857.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'assets/style.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script>// Initialize and add the map
            function initMap() {
              // The location of Uluru
              const uluru = { lat: -25.344, lng: 131.036 };
              // The map, centered at Uluru
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: uluru,
              });
              // The marker, positioned at Uluru
              const marker = new google.maps.Marker({
                position: uluru,
                map: map,
              });
            }</script>
     
       
    </head>

    <body>
                <div class="row">
                    
                    <div class="col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form class="f1">	
                            {% csrf_token %}

                    		<h3>Claim for car insurance</h3>
                    		<p>Fill in the form to get instant claim</p>
                       
                    		<div class="f1-steps">

                    		   <div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="9" data-number-of-steps="6" style="width: 10%;"></div>
                    			</div>
                             
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-car"></i></div>
                    			</div>

                                <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fas fa-car-crash"></i></div>
                    			</div>
                                
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-calendar"></i></div>
                    			</div>

                                <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-map-marker"></i></div>
                    			</div>

                                <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-camera"></i></div>
                    			</div>

                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-wrench"></i></div>
                    			</div>
                                
                    		</div>
                        

                            <!--form 1-->
                    		
                    		<fieldset>
                    		    <h3 style="text-align:center ;color: black;font-size: 20px;padding: 20px;">Which vehicle had been damaged?</h3>
                    		 <div class="form-group container">
                                <button class="button button1" type="button">
                                <div><i class="fa fa-car"></i></div>
                                <p> {{ vehicle_model }}</p>
                                <p>{{ vehicle_registration_number  }}</p>
                                <p>Year:{{ vehicle_year  }}</p>
                                <p>Insurance ID:{{ vehicle_car_insurance_id  }}</p>
                                </button>
                                   

                             </div>
                               
                                <div class="f1-buttons" style="padding: 30px;">
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
                            <!--form 2-->
                            <fieldset>
                                <h3 style="text-align:center ;color: black;font-size: 20px;padding: 20px;">What Happened?</h3>
                                <div class="f1-buttons">
                                    <div class="serv">
                                        
                                       <div>
                                        <button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Collision With another vehicle</p></button>
                                       </div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Collision with 2+ vehicle</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Theft</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Partial Theft</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Fire</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Loss of control</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">object/animal collision</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">broken glass</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Wheather Damage</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Vandalism</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Collision with pedestrain</p></button></div>
                                       <div><button class="iconbtn"><i class="fa fa-home fa-3x"></i><p style="font-weight: 2px;">Damage from cargo</p></button></div>
                                    
                                      
                                    
                                </div>
                                <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                            </fieldset>
                             <!--form 3-->
                            <fieldset>
                            
                                <div class="f1-buttons">
                                    <h3 style="text-align:center ;color: black;font-size: 20px;padding: 20px;">When is it ?</h3>
                                    <main class="container">
                                        <header class="col-sm-12">
                            
                                            
                                        </header>
                                        <section class="col-sm-12">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control" />
                                                
                                                    <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                
                                        </section>
                                        <footer>
                                
                                        </footer>
                                    </main>
                                    <script type="text/javascript">
                                        $(function() {
                                            $('#datetimepicker1').datetimepicker();
                                        });
                                    </script>
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
                            
                            <!--form 4-->
                            <fieldset>
                               
                                <div class="f1-buttons">
                                    <h3>My Google Maps Demo</h3>
                                    <!--The div element for the map -->
                                    <div id="map">       
                                    <script async
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMFAHaLXuu8OP10hXNy3YjAS1srW9oL3U&callback=initMap">
                                    </script>
                                    </div>
                                
                                    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                             
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
                            <!--form 5-->
                            <fieldset>
                         <div>
                                   
                                    <div action="/action_page.php">
                                        <label for="img">Please upload your car photo</label>
                                        <input type="file" id="img" name="img" accept="image/*">
                                        <input type="submit">
                                    </div>

                                      <button id="btn1">CLICK</button> 
                                    <div id="btn2">
                                        
                                      <div action="/action_page.php">
                                        <label for="img">Please upload your car repair invoice</label>
                                        <input type="file" id="img" name="img" accept="image/*">
                                        <input type="submit">
                                      
                                      </div>
                                    </div>

                                      
                                      
                                      <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                                      </div>
                         </div>
                         <script>document.querySelector('#btn2').style.display = 'none'; 
                            document.querySelector('#btn1').addEventListener('click', showBtn); 
                             
                            function showBtn(e) { 
                             document.querySelector('#btn2').style.display = 'block'; 
                             e.preventDefault(); 
                            }</script>
                            </fieldset>
                            
                            <!--form 6-->
                            <fieldset>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Submit</button>
                                </div>
                            </fieldset>
                           
                    	</form>
                    
                    </div>
                </div>
                    
           

        
        <!-- Javascript -->
        <!-- <script src="{% static 'assets/js/jquery-1.11.1.js'  %}"></script> -->
        <script src="{% static 'assets/js/jquery.backstretch.js'  %}"></script>
        <script src="{% static 'assets/js/scripts.js'  %}"></script>

        <script> $("#first-button").click(function(){
            ev.preventDefault();    
            $('#second-button').removeClass('hide');
            $('#first-button').addClass('hide');
            
          });</script>
        
    
    </body>

</html>