<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurtech details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<style>
    .card{
        border-width: 2px;
        border-color: rgba(49, 39, 39, 0.589);
        border-radius: 20px;
        width: 22rem;
        height: 18rem;
        padding: 10px;
        
        
    }
    body{
        padding:0px;
        border: 0px;
        margin: 0px;
    }
    .row{
        padding: 20px;
    }
</style>
<body>
    <nav class="navbar  navbar-dark bg-dark" style="border: 0px; margin: 0px;">
        <div class="container-fluid" style="border: 0px;">
            <a class="navbar-brand" href="#">
                &nbsp&nbsp <strong>DClaim (Digitalised Claim Management System)</strong>
            </a>
        </div>
    </nav>
    <div style="padding: 0%; border: 0px;">
        <div class="row">
            <div class="col-2" style="background-color: rgba(192, 192, 192, 0.726); border: 0;">
            <br>
            <br>
            <br>   
            <br> 
                <p>  <strong>CLAIM ID:</strong><br>{{ClaimNo}}
                </p> 
                <p>  <strong>CLIENT NAME:</strong><br>{{NAME}}
                </p> 
                <p>  <strong>CLIENT ID:</strong><br>{{CLIENTNUMBER}}
                </p>
                <p>  <strong>INSURANCE ID:</strong><br>{{INSURANCENUMBER}}
                </p> 
            </div>

            <div class="col-8" style="background-color:white ;">
                <div class="row">
                    <div class="row ">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">Driver</h5>
                                <hr>
                                <p class="card-text"> <strong>Name:</strong>&nbsp{{Driver_name}}</p>
                                <p class="card-text"><strong>Driver Age:</strong>&nbsp{{Driver_age}}</p>
                                <p class="card-text"><strong>Driver Phone Number:</strong>&nbsp    {{Driver_phone_number}}</p>
                                <p class="card-text"><strong>Driver Address:</strong><br> {{Driver_address}}</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Claim</h5>
                                    <hr>
                                    <p class="card-text"> <strong> Date of accidence:</strong>&nbsp{{Date_of_loss}}</p>
                                    <p class="card-text"><strong> Place of accidence:</strong><br> {{Place_of_loss}}</p>
                                    <p class="card-text"><strong> Circumstance:</strong>&nbsp{{Circumstance}}</p>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">Vehicle </h5>
                                <hr>
                                <p class="card-text"><strong>Registration Number:</strong>&nbsp {{Registration_number}}</p>
                                    <p class="card-text"><strong>Brand:</strong> &nbsp {{Brand}}</p>
                                    <p class="card-text"> <strong> Model:</strong>&nbsp {{Model}}</p>
                                    <p class="card-text"><strong>Year:</strong> &nbsp {{Year}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">Repair</h5>
                                <hr>
                                <p class="card-text"><strong>Name:</strong> &nbsp {{ocr_result.vendor.raw_name}}</p>
                                <p class="card-text"> <strong>Address:</strong>&nbsp {{ocr_result.vendor.address}}</p>
                                <p class="card-text"><strong>Contact:</strong> &nbsp {{claim_data.ocr_result.vendor.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>

                    </div>
                </div>
                
                <div class="row">
                    <h1>Web Image Detection</h1>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{claim_data.car_url}}"><img src="{{claim_data.car_url}}" alt="" class="image-fluid" style="width: 30%; height: 30%;"></a> 
                                </td>
                                <td>
                                    {% if claim_data.similar_image.link %}
                                        <p> The Image seem to be found on the internet</p>
                                        <a href="https://google.com{{claim_data.similar_image.link}}">LINK</a>
                                    {% else %}
                                        <p>No similar image is found on the internet</p>
                                    {% endif %}
                                </td>
                                <td>
                                    Prediction Result:
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <h1>OCR Analysis</h1>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{claim_data.invoice_url}}"><img src="{{claim_data.invoice_url}}" alt="" class="image-fluid" style="width: 30%; height: 30%;"></a> 
                                </td>
                                <td>
                                    <ul>
                                        <li><p class="card-text"><strong>Bill To Name:</strong> &nbsp {{ocr_result.bill_to_name}}</p></li>
                                    </ul>
                                    <ul>
                                        <li><p class="card-text"><strong>Bill To Address:</strong> &nbsp {{ocr_result.bill_to_address}}</p></li>
                                    </ul>
                                    <ul>
                                        <li><p class="card-text"><strong>Total Amount:</strong> &nbsp {{ocr_result.total}}</p></li>
                                    </ul>
                                    <ul>
                                        <li><p class="card-text"><strong>Repairer Name:</strong> &nbsp {{ocr_result.vendor.raw_name}}</p></li>
                                    </ul>
                                    <ul>
                                        <li><p class="card-text"> <strong>Repairer Address:</strong>&nbsp {{ocr_result.vendor.address}}</p></li>
                                    </ul>
                                    <ul>
                                        <li><p class="card-text"><strong>Repairer Contact:</strong> &nbsp {{claim_data.ocr_result.vendor.email}}</p></li>
                                    </ul>
                                </td>
                                <td>
                                    if image is reused, show the link of the image and claim number
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <h1>Web Image Detection</h1>
                    fraud result
                </div>
                
            </div>
            <div class="col-2" style="background-color: white;"></div> 
        </div>
        
    </div>
</body>
</html>