{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InsurTech</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <style>
            th {
                padding: 3px;

            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">
                    DClaim (Digitalised Claim Management System)
                </a>
            </div>
            </div>
        </nav>
        <br><br>
        <div class="container-fluid border border-4 rounded-3">
            <div class="container" >
                <table class="table table-hover">
                    <thead></thead>
                    <tr>
                        <th>Claim Number</th>
                        <th>type_of_accidence</th>
                        <th>date_of_accidence</th>
                        <th>status</th>
                        <th>prediction</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody id="tbody1">
                    
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
        <script>
             var config  = {
            "apiKey": "AIzaSyBflqWHGwNwcoRtBGKho-4rV83sSDoizgY",
            "authDomain": "insurtech-hackathonn.firebaseapp.com",
            "databaseURL": "https://insurtech-hackathonn-default-rtdb.asia-southeast1.firebasedatabase.app",
            "projectId": "insurtech-hackathonn",
            "storageBucket": "insurtech-hackathonn.appspot.com",
            "messagingSenderId": "876544685456",
            "appId": "1:876544685456:web:17a5d78ec66eb9b6b6af15",
            }
            firebase.initializeApp(config);
    
            function SelectAllData(){
                firebase.database().ref('claim').on('value',
                function(AllRecords){
                    AllRecords.forEach(
                      function(CurrentRecord){
                        //   var user_id=CurrentRecord.val().user_id;
                          var type_of_accidence=CurrentRecord.val().type_of_accidence;
                          var date_of_accidence=CurrentRecord.val().date_of_accidence;
                          var accidence_location=CurrentRecord.val().accidence_location;
                          var car_image_url=CurrentRecord.val().car_url;
                          var invoice_image_url=CurrentRecord.val().invoice_url;
                          var claim_status = CurrentRecord.val().claim_status;
                          var prediction = CurrentRecord.val().prediction;
                          var claim_number=CurrentRecord.key;

                          console.log(prediction)
                          
                        //   claim_status = "prediction"
                          AddItemstoTable(claim_number,
                            type_of_accidence,
                            date_of_accidence,
                            accidence_location,
                            car_image_url,
                            invoice_image_url,
                            claim_status, 
                            prediction);
    
                            }
    
                    );
                });
            }
            window.onload=SelectAllData;
            
            function AddItemstoTable(claim_number,type_of_accidence,date_of_accidence,accidence_location,car_image_url,invoice_image_url, claim_status, prediction){
                var tbody=document.getElementById('tbody1')
                var trow=document.createElement('tr');
                var td1=document.createElement('td');
                var td2=document.createElement('td');
                var td3=document.createElement('td');
                var td4=document.createElement('td');
                var td5=document.createElement('td');
                var td6=document.createElement('td');
                var a1 =document.createElement('a'); 
                var link1 = document.createTextNode(claim_number);
                a1.appendChild(link1); 
                a1.href ="{% url 'index' %}" + claim_number ;

                var btn1 = document.createElement("BUTTON");
                btn1.classList.add("btn")

                if (claim_status == "approved"){
                    btn1.classList.add("btn-success")
                } else {
                    btn1.classList.add("btn-warning")
                }
                btn1.innerHTML = claim_status
                
                var btn2 = document.createElement("BUTTON");
                btn2.classList.add("btn")
                btn2.classList.add("btn-primary")
                btn2.innerHTML = "assign"

                td1.appendChild(a1);
                td2.innerHTML=type_of_accidence;
                td3.innerHTML=date_of_accidence;
                td4.appendChild(btn1);
                td5.innerHTML=prediction;
                td6.appendChild(btn2);

                tbody.appendChild(trow);
                trow.appendChild(td1);
                trow.appendChild(td2);
                trow.appendChild(td3);
                trow.appendChild(td4);
                trow.appendChild(td5);
                trow.appendChild(td6);
    
            }
        </script>

    </body>

</html>